h1{
    font-size: 50px;
    font-family: 'Comic Neue', cursive;
}
h5{
    font-family: 'Comic Neue', cursive;
}

.responsive-image{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: -12%;
}
.footer{
    height: 100px;

}
/* mekurybiz styles*/

.mekurybiz{
    height: 100px;
}
p{
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
}